<h1>Welcome to shops</h1>
<form class="loginForm" #forms="ngForm" (ngSubmit)="handleLogin( )">
  <div>
    <div class="formslog">
      <label class="form-label" for="mobilenumber">Mobilenumber:</label>
      <input required minlength="10" maxlength="10" class="form-control" type="text" autocomplete="off" id="userinput"
        [(ngModel)]="itemid" #itemId="ngModel" name="itemid" ngModel />
      <button id="otpbutton" (click)="MobileNumber(forms)">get otp</button><br>
      <p style="place-self: center;">{{errormessages}}</p>
    </div>
    <div>
      <div class="otp-fields">
        <input type="text" class="otp-input" id="input1" name="inputMobileNumber1"
        [disabled]="itemId.invalid || false" autocomplete="off" maxlength="1" [(ngModel)]="inputMobileNumber1"
          ngModel="InputMobileNumber1" (input)="onOtpInput($event, 'input2')">
        <input type="text" class="otp-input" id="input2" name="inputMobileNumber2"
        [disabled]="itemId.invalid || false"autocomplete="off" maxlength="1" [(ngModel)]="inputMobileNumber2"
          ngModel="inputMobileNumber2" (input)="onOtpInput($event, 'input3')">
        <input type="text" class="otp-input " id="input3" name="inputMobileNumber3"
        [disabled]="itemId.invalid || false" autocomplete="off" maxlength="1" [(ngModel)]="inputMobileNumber3"
          ngModel="inputMobileNumber3" (input)="onOtpInput($event, 'input4')">
        <input type="text" class="otp-input " id="input4" name="inputMobileNumber4"
        [disabled]="itemId.invalid || false"autocomplete="off" maxlength="1" [(ngModel)]="inputMobileNumber4"
          ngModel="inputMobileNumber4" (input)="onOtpInput($event, 'input5')">
        <input type="text" class="otp-input " id="input5" name="inputMobileNumber5"
        [disabled]="itemId.invalid || false"autocomplete="off" maxlength="1" [(ngModel)]="inputMobileNumber5"
          ngModel="inputMobileNumber5" (input)="onOtpInput($event, 'input6')">
        <input type="text" class="otp-input " id="input6" name="inputMobileNumber6"
        [disabled]="itemId.invalid || false" autocomplete="off" maxlength="1" [(ngModel)]="inputMobileNumber6"
          ngModel="inputMobileNumber6" (input)="onOtpInput($event, '')">
      </div>
      <p style="place-self: center;">{{errormessage}}</p>
      <p style="place-self: center;">Enter the OTP</p>
      <button class="submitbuton" (click)="handleLogin()">
        Login
      </button>
    </div>
  </div>
</form>