


h1{
    align-items: center;
    place-self: center;
    margin-top: 200px;
    font-weight: bolder;
}
button{
    height: 40px;
    width:200px;
}
.google{
    background-color:blue;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 575px;


}
.guest{
    background-color:green;
    color: white;
    border-radius: 20px;
    margin-left: 575px;
}
.guest:hover{
    background-color: greenyellow;
    color:white;
    color: black;

}
.google:hover{
    background-color: blueviolet;
    color:white;
    color: black;
}
.phone{
    background-color: yellow;
    color: black;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 575px;
}
.phone:hover{
    background-color: aquamarine;
}