.Displaycenter{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
table {
  height: 200px;
    width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid black;
  }

  
  th {
    background-color:green;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid black;
  }


  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
  }
.erroemessage{
  color: red;
}
img{
  height: 100px;
  width: 150px;
}
.viewproduct{
  height: 500px;
  width:500px;
}
input{
  height: 20px;
  width: 250px;
}
label{
  font-weight: bolder;
  font-size: large;
}
.addMoreButton{
  height: 50px;
  width: 100px;
  font-size: large;
  color: white;
  background-color: blue;
  border-radius: 20%;
  
}
.shopNowButton{
  height: 50px;
  width: 100px;
  font-size: large;
  color: white;
  background-color:green;
  border-radius: 20%;
 

}
.seperate{
  gap:25px;
  display: flex;
  flex-direction: row;
}
.displayItems{
  height: 250px;
  width: 250px;
  margin-right: 185px;
  & table {
    height: 100px;
      width: 500px;
     
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      background-color: #f4f4f9;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      border: 1px solid black;
    }
  
    
    & th {
      background-color:yellow;
      color:black;
     
      text-align: left;
      font-size: 16px;
      text-transform: uppercase;
      border: 1px solid black;
    }
  
  
    & td {
     
      text-align: left;
      border-bottom: 1px solid #ddd;
      border: 1px solid black;
    }
}